// Контейнер с отступами 16pxи border

.box-16 {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 16px;
    height: auto;
    border: 1px solid #C6C6C6;
    border-radius: 10px;
    padding: 16px;
}