// Карточка со статистикой

.card-statistics {
    width: 240px;
    min-height: 136px;
    height: auto;
    gap: 10px;
    border: 1px solid #C6C6C6;
    border-radius: 10px;
    background-color: #F6F1F1;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        gap: 8px;
    }

    & .align-start {
        justify-content: flex-start;     
    }

    & .title {
        font-family: 'Circe Rounded';
        font-weight: 400;
        font-size: 16px;
    }

    & .color-block {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 30px;
        border-radius: 10px;

        &_green {
            background-color: #B2F162;
        }

        &_red {
            background-color: #FF5959;
        }

        &_white {
            background-color: #ffffff;
            border: 1px solid #C6C6C6;
            min-width: 64px;
            max-width: 88px;
            width: 100%;
        }
    }

    & .text {
        display: block;
        white-space: nowrap;
        font-size: 12px;
        font-family: 'Montserrat';
    }

    & .icon-arrow {
        display: block;
        width: 12px;
        height: 16px;

        &_green {
            background-image: url('../img/icon_arrow-green.png');
        }

        &_red {
            background-image: url('../img/icon_arrow-red.png');
        }
    }
}
