// блок для контента

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 1440px;
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}