// Выпадающее меню в шапке

.dropdown-menu {
    display: none;
    width: auto;
    min-height: 50px;
    width: 347px;
    max-width: 347px;
    height: auto;
    border: solid 1px #B0AFAF;
    position: absolute;
    top: 26px;
    border-radius: 10px;
    background-color: white;
    padding: 24px 10px;
    z-index: 20000;

    &__items {
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: auto;
    }

    &__item {
        display: inline-block;
        font-family: 'Circe Rounded';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;

        &:hover {
            color: #B0AFAF;
        }
    }

    &__link {
        display: inline-block;
        
    }

    & .new {
        &::after {
            content: "";
            display: inline-block;
            background-image: url("../img/icon_new.svg");
            background-repeat: no-repeat;
            background-size: 32px;
            width: 32px;
            height: 12px;
            margin-left: 7px;
            position: absolute;
        }
    }
}