// header

.header {
    display: block;
    width: 100%;

    .navbar-menu {
        min-width: auto;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        min-height: 28px;
        height: auto;
        max-width: 1440px;
        padding-left: 48px;
        padding-right: 48px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        align-items: flex-start;

        &_link {
            display: inline-block;
            font-size: 20px;

            &:hover {
                transition: 0.3s;
                color: rgb(158, 158, 158);                   
            }  
        }

        & .drop {
            &::after {
                content: "";
                display: inline-block;
                background-image: url("../img/icon_arrow_down.svg");
                width: 14px;
                height: 8px;
                background-repeat: no-repeat;
                margin-left: 8px;
            }
        }

        &_items {
            max-width: 800px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 40px;
            row-gap: 16px;
        }
    }
}

.notifications-and-profile-box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 136px;
    height: 32px;
}

.navbar-main {
    display: block;
    width: 100%;
    min-height: 63px;
    height: auto;
    background-color: #ACD0D2;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo {
    display: inline-block;
    font-family: Inter;
    font-style: normal;
    font-size: 24px;

    &__box {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 12px;
    }

    &__icon {
        display: block;
        margin: auto;
        width: 23px;
        height: 24px;
    }
}

.burger {
    display: none;
    width: 28px;
    height: 28px;

    &__line {
        display: block;
        background-color: black;
        position: absolute;
        height: 2px;
        width: 28px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            background-color: black;
            height: 2px;
            width: 28px;
            left: 0;
        }

        &::before {
            top: 10px;
        }

        &::after {
            bottom: 10px;
        }
    }

    &__menu {
        display: block;
        width: 28px;
        height: 28px;
        background-color: inherit;
        position: absolute;
        border: none;
        z-index: 3;
        cursor: pointer;
    }
}

@media (max-width: 1024px) {

    .header {
        & .navbar-menu {
            display: flex;
            flex-direction: column;
            align-items: center;

            &_items {
                max-width: 800px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-left: 0;
            }
        }
    }

    .navbar-main {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .burger {
        display: block;
    }

    .header {
        .navbar-menu_items {
            display: none;
        }

        .notifications {
            display: none;
        }

        .navbar-menu {
            flex-direction: row;
        }
    }

}